@media (max-width: 1024px) {
    .note-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    
    dialog {
        max-width: 400px;
        transform: translateX(-50%) translateY(-50%);
    }
}

@media (max-width: 768px) {
    dailog {
        top: 30%;
        transform: translateX(-50%) translateY(-80%);
    }
    .note-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .note-header-btn {
        opacity: 1;
    }

    .empty-state {
        width: 250px;
    }

    .form-group textarea {
        height: 70px;
    }
}

@media (max-width: 426px) {
    .note-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .empty-state {
        width: 180px;
        height: 100px;
    }
    .empty-state h2{
        font-size: 1rem;
    }
    .empty-state p{
        font-size: .8rem;
    }

    dialog {
        max-width: 250px;
    }

    .dialog-header h2 {
        font-size: 1rem;
    }

    .form-group label {
        font-size: .7rem;
    }

    input::placeholder , textarea::placeholder{
        font-size: .7rem;
    }

    .save-btn {
        font-size: .7rem;
    }

    .form-group input, .form-group textarea {
        font-size: .7rem;
    }
    
    .form-group textarea {
        height: 50px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .add-note-btn,
    .theme-toggle-btn {
        padding: .5em 1.5em;
        font-size: .7rem;
    }
}

@media (max-width: 376px) {
    header h1 {
        font-size: 1.5rem;
    }

    .add-note-btn,
    .theme-toggle-btn {
        font-size: .6rem;
    }

}

@media (max-width: 321px) {
    header h1 {
        font-size: 1rem;
    }

    .form-group textarea {
        height: 30px;
    }

    .add-note-btn,
    .theme-toggle-btn {
        font-size: .6rem;
    }

}


