@media (max-width: 1024px) {
    .note-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .note-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
    }
}

@media (max-width: 426px) {
    .note-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .add-note-btn,
    .theme-toggle-btn {
        padding: .5em 1.5em;
        font-size: .7rem;
    }
}

@media (max-width: 376px) {
    header h1 {
        font-size: 1.5rem;
    }

    .add-note-btn,
    .theme-toggle-btn {
        font-size: .6rem;
    }

}

@media (max-width: 321px) {
    header h1 {
        font-size: 1rem;
    }

    .add-note-btn,
    .theme-toggle-btn {
        font-size: .6rem;
    }

}