@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: black;
    --btn-color: white;
    --white-btn-color: white;
    --black-btn-color: black;
    --header-color: black;
    --dark-text-color: hsl(0, 0%, 40%);
    --cancel-btn-color: hsl(0 0 90);
    --bg-color: hsl(0 0 90);
    --container-color: hsl(0 0 100);
    --primary-color: #008cff;
    --primary-hover-color: hsl(207, 100%, 30%);
    --secondary-color: #e100cf;
    --input-bg-color: hsla(240, 100%, 95%, 0.615);
    --dark-input-color: rgba(0, 0, 0, 0.812);
}

.dark {
    --text-color: hsl(0, 0%, 90%);
    --header-color: white;
    --light-text-color: hsl(0, 0%, 10%);
    --dark-text-color: hsl(0, 0%, 85%);
    --cancel-btn-color: hsl(0 0 90);
    --bg-color: hsl(0 0 10);
    --container-color: hsl(207, 100%, 10%);
    --primary-hover-color: hsl(207, 100%, 30%);
    --secondary-color: #e100cf;
    --input-bg-color: hsla(240, 100%, 95%, 0.615);
    --dark-input-color: rgba(0, 0, 0, 0.812);
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1em;
    /* background-color: cyan; */
}

header h1 {
    color: var(--header-color);
}

header .buttons {
    display: flex;
    gap: 1em;
}

.add-note-btn {
    color: var(--white-btn-color);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.75em 1.5em;
    cursor: pointer;
    transition: .3s;
}

.add-note-btn:hover {
    background-color: var(--primary-hover-color);
}

.add-note-btn:active {
    background-color: var(--primary-color);
}

.theme-toggle-btn {
    border: none;
    background-color: var(--container-color);
    border-radius: 10px;
    padding: 0em 1.5em;
    cursor: pointer;
    transition: .3s;
}

header .theme-toggle-btn:hover {
    background-color: var(--primary-color);
}

header .theme-toggle-btn:active {
    background-color: var(--container-color);
}

/* Body */

.note-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em .5em;
    padding: 0 1em;
}

.note-card {
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    padding: 1em;
    border-radius: 10px;
    gap: 10px;
    transition: .3s;
}

.note-card-header {
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
}

.note-card-btns{
    display: flex;
    gap: 10px;
    align-items: center;
}

.note-header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: transparent;
    border: none;
    transition: .3s;
    cursor: pointer;
    font-weight: bold;
    color: var(--text-color);
}

.note-card p{
    color: var(--dark-text-color);
    font-size: .8rem;
}

.note-card:hover {
    transform: translateY(-2px);
}
.note-card:hover .note-header-btn{
    opacity: 1;
}

/* Dialog */

dialog {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    border: none;
    padding: 1.25em;
    max-width: 400px;
    width: 90vw;
    border-radius: 10px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.542);
}

.dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close-dialog-btn {
    border: none;
    padding: .5em 1em 0em 1em;
    background: transparent;
    cursor: pointer;
    transition: .3s;
}

.close-dialog-btn:hover {
    background-color: var(--cancel-btn-color);
}

.dialog-form {
    display: flex;
    flex-direction: column;   
    gap: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-weight: 550;
    font-size: .9rem;
}

.form-group input, .form-group textarea {
    color: var(--dark-input-color);
    padding: .5em;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: var(--input-bg-color);
}

.form-group textarea {
    height: 100px;
}

.dialog-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1em;
}

.save-btn {
    color: var(--white-btn-color);
    background-color: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: .5em 1em;
    cursor: pointer;
    transition: .3s;
}

.save-btn:hover {
    background-color: var(--primary-hover-color);
}

.save-btn:active {
    background-color: var(--primary-color);
}

.cancel {
    color: var(--light-text-color);
    background-color: var(--cancel-btn-color);
    font-weight: 400;
}

.cancel:hover {
    color: var(--btn-color);
    background-color: var(--primary-color);
}